<div class = 'form center-form'>
  <%= form_for @volunteer, url: volunteer_path(@current_user.id) do |f| %>
    <fieldset>
      <legend>Role: </legend>
      <div class="form-group">
        <%= f.label "Data Wrangler" %>
        <%= radio_button_tag(:role, "Data Wrangler") %>
      </div>
      <div class="form-group">
        <%= f.label "Tech Wiz" %>
        <%= radio_button_tag(:role, "Tech Wiz") %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Bio:</legend>
      <p>Tell us a little about yourself. Please include why are you interested in volunteering with GiveHaven.</p>
      <div class="form-group">
        <%= f.text_area :bio, size: "25X100", class: 'form-control text', autofocus: true %>
      </div>
    </fieldset>

    <%= f.submit 'Edit', class: 'btn form-btn' %>

  <% end %>
</div>
