<div class = "brand">
	<div class = "col-sm-4">
		<%= link_to 'GiveHaven.org', root_path %>
	</div>
	<div class = "col-sm-3">
		<ul>
			<li>
				<%= @organization_count %> Shelters
			</li>
			<li>
				<%= @approved_project_count %> Projects
			</li>
		</ul>
	</div>
	<div class = "col-sm-3">
		<ul>
			<li>
				<%= @donor_count %> Donors
			</li>
			<li>
				$<%= @approved_gift_total %> given
			</li>
		</ul>
	</div>
</div>
