<h1 class = "pink txt-center">Your Projects</h1>

<% @projects.each do |project| %>
<div class='col-sm-4'>
  <a href = '/projects/<%= project.title %>/<%= project.id  %>'>
    <div class = 'tile'>
      <%= image_tag project.image %>
      <h2 class = "blue"><%= project.title %></h2>
      <h3 class = "blue">Status: <%= project.funding_status %></h3>
      <div class = 'progress'>
        <div class = 'progress-bar-stiped progress-bar blue-bar' role="progressbar" style="width: <%= percent_complete(project) %>%">
          $<%= project.total_donated %> raised!
        </div>
        <div class = 'progress-bar-striped progress-bar blue-bar' role="progressbar" style="width: <%= percent_remaining(project) %>%">
          Only $<%= project.total_remaining %> to go!
        </div>
      </div>
      <p class = 'txt-right'><%= link_to 'Edit', edit_project_path(project.title, project.id) %></p>
    </div>
  </a>

</div>
<% end %>
