<div class = 'form center-form'>
  <%= form_for @project, url: projects_path, validate: true, multipart: true do |f| %>
    <div class="form-group">
      <%= f.label "Title:" %>
      <%= f.text_field :title, class: 'form-control', autofocus: true  %>
    </div>
    <div class="form-group">
      <%= f.label "Brief description:" %>
      <p>
        Please write 1-2 sentences describing your project.
      </p>
      <%= f.text_area :description, class: 'form-control', autofocus: true  %>
    </div>
    <div class="form-group">
      <%= f.label "Photo:" %>
      <%= f.file_field :image, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label "About #{@organization.name}:" %>
      <p>Please write at least 250 words describing your organization. Be sure to answer the following quesitons:</p>
      <ul>
        <li>
          Who do you work with(population served description)?
        </li>
        <li>
          What does a typical day at <%= @organization.name %> look like?
        </li>
      </ul>
      <%= f.text_area :organization_details, class: 'form-control', autofocus: true  %>
    </div>
    <div class="form-group">
      <%= f.label "Project Details:" %>
      <p>Please write at least 250 words describing your project. Be sure to answer the following quesitons:</p>
      <ul>
        <li>
          How will the items requested be used?
        </li>
        <li>
          What impact will this project have on your population?
        </li>
      </ul>
      <%= f.text_area :project_details, class: 'form-control', autofocus: true  %>
    </div>
    <%= f.submit 'Submit Project Request', class: 'btn form-btn' %>
  <% end %>
</div>
