<!DOCTYPE html>
<html>
<head>
  <title>Givehaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-padding">
  <%= render partial: "shared/baseheader" %>
  <% if @current_user %>
    <% if Organization.find_by user_id: @current_user.id %>
      <%= render partial: "shared/orgnav" %>
    <% else %>
      <%= render partial: "shared/baselogin" %>
    <% end %>
  <% else %>
    <%= render partial: "shared/basenav" %>
  <% end %>

<%= yield %>

</div>
</body>
</html>
