<!DOCTYPE html>
<html>
<head>
  <title>Givehaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-padding">
  <%= render partial: "shared/baseheader" %>
  <%= render partial: "shared/basenav" %>

  <%= yield %>
</div>
</body>
</html>
