<!DOCTYPE html>
<html>
<head>
  <title>Givehaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom' %>
  <%= stylesheet_link_tag 'slick/css' %>
  <%= stylesheet_link_tag 'slick-theme/css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-padding">
  <%= render partial: "shared/header" %>
  <%= render partial: "shared/nav" %>

  <%= yield %>
</div>
</body>
</html>
